:root {
	--black: black;
	--white: white;
}

[data-mode="dark"] {
	--black: white;
	--white: black;
}

body {
	background-color: var(--white);
	min-height: 100vh;
	display: grid;
	place-items: center;
	font-family: Helvetica, sans-serif;
}

.container {
	width: fit-content;
	height: auto;
	position: relative;
}

.contents_container {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

img {
	width: 50%;
	height: 300px;
	object-fit: cover;
}

p {
	width: 36%;
	color: var(--black);
	font-size: 62px;
}

.toggle_btn {
	padding: 6px 12px;
	background-color: var(--black);
	border: 1px solid var(--black);
	outline: none;
	color: var(--white);
	position: absolute;
	right: 0;
	top: -64px;
	cursor: pointer;
}
